.Container
  width: 100%
  height: 100%
  padding: 10px
  display: flex
  align-items: center
  justify-content: space-around
  column-gap: 10px
  word-wrap: break-word

  .TextLeft
    color: var(--text_main)
    font-weight: 700
    font-size: 18px
    max-width: 50%
    